In [3]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
import pandas as pd

sqlalchemy.__version__

'1.4.32'

In [4]:
connect_str = 'sqlite:////Users/halimaelbadoui/Documents/Ironhack/dataptmad0522_lessons/m1/datasets/publications.db'

In [5]:
connect_str

'sqlite:////Users/halimaelbadoui/Documents/Ironhack/dataptmad0522_lessons/m1/datasets/publications.db'

In [6]:
engine = create_engine(connect_str)
type(engine)

sqlalchemy.engine.base.Engine

# Challenge 1

In [7]:
inspector = inspect(engine)
inspector.get_table_names()

['authors',
 'discounts',
 'employee',
 'jobs',
 'pub_info',
 'publishers',
 'roysched',
 'sales',
 'stores',
 'titleauthor',
 'titles']

In [8]:
inspector.get_columns('authors')

[{'name': 'au_id',
  'type': VARCHAR(length=11),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'au_lname',
  'type': VARCHAR(length=40),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'au_fname',
  'type': VARCHAR(length=20),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'phone',
  'type': TEXT(length=12),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'address',
  'type': VARCHAR(length=40),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'city',
  'type': VARCHAR(length=20),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'state',
  'type': TEXT(length=2),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'zip',
  'type': TEXT(length=5),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'contract',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

In [9]:
authors = pd.read_sql_query("SELECT * FROM authors", engine)
authors
#miro qué columnas tiene la tabla authors primero

,au_id,au_lname,au_fname,phone,address,city,state,zip,contract
0,172-32-1176,White,Johnson,408 496-7223,10932 Bigge Rd.,Menlo Park,CA,94025,1
1,213-46-8915,Green,Marjorie,415 986-7020,309 63rd St. #411,Oakland,CA,94618,1
2,238-95-7766,Carson,Cheryl,415 548-7723,589 Darwin Ln.,Berkeley,CA,94705,1
3,267-41-2394,O'Leary,Michael,408 286-2428,22 Cleveland Av. #14,San Jose,CA,95128,1
4,274-80-9391,Straight,Dean,415 834-2919,5420 College Av.,Oakland,CA,94609,1
5,341-22-1782,Smith,Meander,913 843-0462,10 Mississippi Dr.,Lawrence,KS,66044,0
6,409-56-7008,Bennet,Abraham,415 658-9932,6223 Bateman St.,Berkeley,CA,94705,1
7,427-17-2319,Dull,Ann,415 836-7128,3410 Blonde St.,Palo Alto,CA,94301,1
8,472-27-2349,Gringlesby,Burt,707 938-6445,PO Box 792,Covelo,CA,95428,1
9,486-29-1786,Locksley,Charlene,415 585-4620,18 Broadway Av.,San Francisco,CA,94130,1
10,527-72-3246,Greene,Morningstar,615 297-2723,22 Graybar House Rd.,Nashville,TN,37215,0
11,648-92-1872,Blotchet-Halls,Reginald,503 745-6402,55 Hillsdale Bl.,Corvallis,OR,97330,1
12,672-71-3249,Yokomoto,Akiko,415 935-4228,3 Silver Ct.,Walnut Creek,CA,94595,1
13,712-45-1867,del Castillo,Innes,615 996-8275,2286 Cram Pl. #86,Ann Arbor,MI,48105,1
14,722-51-5454,DeFrance,Michel,219 547-9982,3 Balding Pl.,Gary,IN,46403,1
15,724-08-9931,Stringer,Dirk,415 843-2991,5420 Telegraph Av.,Oakland,CA,94609,0
16,724-80-9391,MacFeather,Stearns,415 354-7128,44 Upland Hts.,Oakland,CA,94612,1
17,756-30-7391,Karsen,Livia,415 534-9219,5720 McAuley St.,Oakland,CA,94609,1
18,807-91-6654,Panteley,Sylvia,301 946-8853,1956 Arlington Pl.,Rockville,MD,20853,1
19,846-92-7186,Hunter,Sheryl,415 836-7128,3410 Blonde St.,Palo Alto,CA,94301,1
20,893-72-1158,McBadden,Heather,707 448-4982,301 Putnam,Vacaville,CA,95688,0
21,899-46-2035,Ringer,Anne,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1
22,998-72-3567,Ringer,Albert,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1

In [10]:
author_sql = '''
SELECT a.au_id AS 'AUTHOR ID',
a.au_lname AS 'LAST NAME',
a.au_fname AS 'FIRST NAME', 
ti.title AS 'TITLE', 
pub.pub_name AS 'PUBLISHER'
FROM authors a
INNER JOIN titleauthor ta ON a.au_id = ta.au_id 
INNER JOIN titles ti ON ta.title_id = ti.title_id
INNER JOIN publishers pub ON ti.pub_id = pub.pub_id
'''

In [11]:
author_sql = pd.read_sql_query(author_sql, engine)
author_sql

,AUTHOR ID,LAST NAME,FIRST NAME,TITLE,PUBLISHER
0,172-32-1176,White,Johnson,Prolonged Data Deprivation: Four Case Studies,New Moon Books
1,213-46-8915,Green,Marjorie,The Busy Executive's Database Guide,Algodata Infosystems
2,213-46-8915,Green,Marjorie,You Can Combat Computer Stress!,New Moon Books
3,238-95-7766,Carson,Cheryl,But Is It User Friendly?,Algodata Infosystems
4,267-41-2394,O'Leary,Michael,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
5,267-41-2394,O'Leary,Michael,"Sushi, Anyone?",Binnet & Hardley
6,274-80-9391,Straight,Dean,Straight Talk About Computers,Algodata Infosystems
7,409-56-7008,Bennet,Abraham,The Busy Executive's Database Guide,Algodata Infosystems
8,427-17-2319,Dull,Ann,Secrets of Silicon Valley,Algodata Infosystems
9,472-27-2349,Gringlesby,Burt,"Sushi, Anyone?",Binnet & Hardley
10,486-29-1786,Locksley,Charlene,Net Etiquette,Algodata Infosystems
11,486-29-1786,Locksley,Charlene,Emotional Security: A New Algorithm,New Moon Books
12,648-92-1872,Blotchet-Halls,Reginald,Fifty Years in Buckingham Palace Kitchens,Binnet & Hardley
13,672-71-3249,Yokomoto,Akiko,"Sushi, Anyone?",Binnet & Hardley
14,712-45-1867,del Castillo,Innes,Silicon Valley Gastronomic Treats,Binnet & Hardley
15,722-51-5454,DeFrance,Michel,The Gourmet Microwave,Binnet & Hardley
16,724-80-9391,MacFeather,Stearns,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
17,724-80-9391,MacFeather,Stearns,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
18,756-30-7391,Karsen,Livia,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
19,807-91-6654,Panteley,Sylvia,"Onions, Leeks, and Garlic: Cooking Secrets of ...",Binnet & Hardley
20,846-92-7186,Hunter,Sheryl,Secrets of Silicon Valley,Algodata Infosystems
21,899-46-2035,Ringer,Anne,The Gourmet Microwave,Binnet & Hardley
22,899-46-2035,Ringer,Anne,Is Anger the Enemy?,New Moon Books
23,998-72-3567,Ringer,Albert,Is Anger the Enemy?,New Moon Books
24,998-72-3567,Ringer,Albert,Life Without Fear,New Moon Books

In [12]:
titleauthor = pd.read_sql_query("SELECT * FROM titleauthor", engine)
titleauthor
#the total of the query has the same rows as the total number of records in Table `titleauthor`

          au_id title_id  au_ord  royaltyper
0   172-32-1176   PS3333       1         100
1   213-46-8915   BU1032       2          40
2   213-46-8915   BU2075       1         100
3   238-95-7766   PC1035       1         100
4   267-41-2394   BU1111       2          40
5   267-41-2394   TC7777       2          30
6   274-80-9391   BU7832       1         100
7   409-56-7008   BU1032       1          60
8   427-17-2319   PC8888       1          50
9   472-27-2349   TC7777       3          30
10  486-29-1786   PC9999       1         100
11  486-29-1786   PS7777       1         100
12  648-92-1872   TC4203       1         100
13  672-71-3249   TC7777       1          40
14  712-45-1867   MC2222       1         100
15  722-51-5454   MC3021       1          75
16  724-80-9391   BU1111       1          60
17  724-80-9391   PS1372       2          25
18  756-30-7391   PS1372       1          75
19  807-91-6654   TC3218       1         100
20  846-92-7186   PC8888       2          50
21  899-46-2035   MC3021       2          25
22  899-46-2035   PS2091       2          50
23  998-72-3567   PS2091       1          50
24  998-72-3567   PS2106       1         100

# Challenge 2

In [35]:
titles_author = '''
SELECT
authors.au_id AS 'AUTHOR ID',
authors.au_lname AS 'LAST NAME',
authors.au_fname AS 'FIRST NAME', 
pub.pub_name AS 'PUBLISHER', COUNT(*) AS 'TITLE COUNT'
FROM authors
INNER JOIN titleauthor ta ON authors.au_id = ta.au_id 
INNER JOIN titles title ON ta.title_id = title.title_id
INNER JOIN publishers pub ON title.pub_id = pub.pub_id
GROUP BY title
'''

In [36]:
titles_author = pd.read_sql_query(titles_author, engine)

In [528]:
titles_author

      AUTHOR ID       LAST NAME FIRST NAME             PUBLISHER  TITLE COUNT
0   238-95-7766          Carson     Cheryl  Algodata Infosystems            1
1   724-80-9391      MacFeather    Stearns      Binnet & Hardley            2
2   267-41-2394         O'Leary    Michael  Algodata Infosystems            2
3   486-29-1786        Locksley   Charlene        New Moon Books            1
4   648-92-1872  Blotchet-Halls   Reginald      Binnet & Hardley            1
5   899-46-2035          Ringer       Anne        New Moon Books            2
6   998-72-3567          Ringer     Albert        New Moon Books            1
7   486-29-1786        Locksley   Charlene  Algodata Infosystems            1
8   807-91-6654        Panteley     Sylvia      Binnet & Hardley            1
9   172-32-1176           White    Johnson        New Moon Books            1
10  427-17-2319            Dull        Ann  Algodata Infosystems            2
11  712-45-1867    del Castillo      Innes      Binnet & Hardley            1
12  274-80-9391        Straight       Dean  Algodata Infosystems            1
13  267-41-2394         O'Leary    Michael      Binnet & Hardley            3
14  213-46-8915           Green   Marjorie  Algodata Infosystems            2
15  722-51-5454        DeFrance     Michel      Binnet & Hardley            2
16  213-46-8915           Green   Marjorie        New Moon Books            1

In [470]:
verification = titles_author["TITLE COUNT"].sum()
verification

25

# Challenge 3

In [530]:
top_3 = '''
SELECT
a.au_id AS 'AUTHOR ID',
a.au_lname AS 'LAST NAME',
a.au_fname AS 'FIRST NAME',
SUM(ytd_sales) AS 'TOTAL'
FROM titleauthor ta
INNER JOIN authors a ON a.au_id = ta.au_id 
INNER JOIN titles ti ON ti.title_id = ta.title_id
GROUP BY a.au_id, a.au_lname, a.au_fname
ORDER BY TOTAL DESC
LIMIT 3
'''
#aquí no he tenido en cuenta los autores que no han escrito ni vendido ningún libro porque solo queríamos sacar los top3

In [531]:
top_3 = pd.read_sql_query(top_3, engine)
top_3

     AUTHOR ID LAST NAME FIRST NAME  TOTAL
0  899-46-2035    Ringer       Anne  24291
1  213-46-8915     Green   Marjorie  22817
2  722-51-5454  DeFrance     Michel  22246

# Challenge 4

In [514]:
a = '''
select * 
from authors a
left join titleauthor ti on a.au_id=ti.au_id
'''
authors = pd.read_sql_query(a, engine)
authors
# he juntado las dos tablas para ver la columna en común, porque en el ejercicio del challenge 3 
# no he tenido en cuenta los autores que no han escrito ningún libro y por tanto no han vendido ninguno

,au_id,au_lname,au_fname,phone,address,city,state,zip,contract,au_id,title_id,au_ord,royaltyper
0,172-32-1176,White,Johnson,408 496-7223,10932 Bigge Rd.,Menlo Park,CA,94025,1,172-32-1176,PS3333,1.0,100.0
1,213-46-8915,Green,Marjorie,415 986-7020,309 63rd St. #411,Oakland,CA,94618,1,213-46-8915,BU1032,2.0,40.0
2,213-46-8915,Green,Marjorie,415 986-7020,309 63rd St. #411,Oakland,CA,94618,1,213-46-8915,BU2075,1.0,100.0
3,238-95-7766,Carson,Cheryl,415 548-7723,589 Darwin Ln.,Berkeley,CA,94705,1,238-95-7766,PC1035,1.0,100.0
4,267-41-2394,O'Leary,Michael,408 286-2428,22 Cleveland Av. #14,San Jose,CA,95128,1,267-41-2394,BU1111,2.0,40.0
5,267-41-2394,O'Leary,Michael,408 286-2428,22 Cleveland Av. #14,San Jose,CA,95128,1,267-41-2394,TC7777,2.0,30.0
6,274-80-9391,Straight,Dean,415 834-2919,5420 College Av.,Oakland,CA,94609,1,274-80-9391,BU7832,1.0,100.0
7,341-22-1782,Smith,Meander,913 843-0462,10 Mississippi Dr.,Lawrence,KS,66044,0,None,None,NaN,NaN
8,409-56-7008,Bennet,Abraham,415 658-9932,6223 Bateman St.,Berkeley,CA,94705,1,409-56-7008,BU1032,1.0,60.0
9,427-17-2319,Dull,Ann,415 836-7128,3410 Blonde St.,Palo Alto,CA,94301,1,427-17-2319,PC8888,1.0,50.0
10,472-27-2349,Gringlesby,Burt,707 938-6445,PO Box 792,Covelo,CA,95428,1,472-27-2349,TC7777,3.0,30.0
11,486-29-1786,Locksley,Charlene,415 585-4620,18 Broadway Av.,San Francisco,CA,94130,1,486-29-1786,PC9999,1.0,100.0
12,486-29-1786,Locksley,Charlene,415 585-4620,18 Broadway Av.,San Francisco,CA,94130,1,486-29-1786,PS7777,1.0,100.0
13,527-72-3246,Greene,Morningstar,615 297-2723,22 Graybar House Rd.,Nashville,TN,37215,0,None,None,NaN,NaN
14,648-92-1872,Blotchet-Halls,Reginald,503 745-6402,55 Hillsdale Bl.,Corvallis,OR,97330,1,648-92-1872,TC4203,1.0,100.0
15,672-71-3249,Yokomoto,Akiko,415 935-4228,3 Silver Ct.,Walnut Creek,CA,94595,1,672-71-3249,TC7777,1.0,40.0
16,712-45-1867,del Castillo,Innes,615 996-8275,2286 Cram Pl. #86,Ann Arbor,MI,48105,1,712-45-1867,MC2222,1.0,100.0
17,722-51-5454,DeFrance,Michel,219 547-9982,3 Balding Pl.,Gary,IN,46403,1,722-51-5454,MC3021,1.0,75.0
18,724-08-9931,Stringer,Dirk,415 843-2991,5420 Telegraph Av.,Oakland,CA,94609,0,None,None,NaN,NaN
19,724-80-9391,MacFeather,Stearns,415 354-7128,44 Upland Hts.,Oakland,CA,94612,1,724-80-9391,BU1111,1.0,60.0
20,724-80-9391,MacFeather,Stearns,415 354-7128,44 Upland Hts.,Oakland,CA,94612,1,724-80-9391,PS1372,2.0,25.0
21,756-30-7391,Karsen,Livia,415 534-9219,5720 McAuley St.,Oakland,CA,94609,1,756-30-7391,PS1372,1.0,75.0
22,807-91-6654,Panteley,Sylvia,301 946-8853,1956 Arlington Pl.,Rockville,MD,20853,1,807-91-6654,TC3218,1.0,100.0
23,846-92-7186,Hunter,Sheryl,415 836-7128,3410 Blonde St.,Palo Alto,CA,94301,1,846-92-7186,PC8888,2.0,50.0
24,893-72-1158,McBadden,Heather,707 448-4982,301 Putnam,Vacaville,CA,95688,0,None,None,NaN,NaN
25,899-46-2035,Ringer,Anne,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1,899-46-2035,MC3021,2.0,25.0
26,899-46-2035,Ringer,Anne,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1,899-46-2035,PS2091,2.0,50.0
27,998-72-3567,Ringer,Albert,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1,998-72-3567,PS2091,1.0,50.0
28,998-72-3567,Ringer,Albert,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1,998-72-3567,PS2106,1.0,100.0

In [515]:
ranking_authors= '''
SELECT
a.au_id AS 'AUTHOR ID',
a.au_lname AS 'LAST NAME',
a.au_fname AS 'FIRST NAME',
IFNULL(t.TOTAL, 0) AS TOTAL
FROM authors a 
LEFT JOIN (
    SELECT
    a.au_id,
    a.au_lname AS 'LAST NAME',
    a.au_fname AS 'FIRST NAME',
    SUM(ytd_sales) AS 'TOTAL'
    FROM titleauthor ta
    INNER JOIN authors a ON a.au_id = ta.au_id 
    INNER JOIN titles ti ON ti.title_id = ta.title_id
    GROUP BY a.au_id, a.au_lname, a.au_fname
    ) t ON t.au_id = a.au_id
    ORDER BY TOTAL DESC
'''
#he tenido que hacer una subquery por como tenía la primera query y así sacar también los escritores que han vendido 0 titles

In [516]:
ranking_authors = pd.read_sql_query(ranking_authors, engine)
ranking_authors

      AUTHOR ID       LAST NAME   FIRST NAME  TOTAL
0   899-46-2035          Ringer         Anne  24291
1   213-46-8915           Green     Marjorie  22817
2   722-51-5454        DeFrance       Michel  22246
3   648-92-1872  Blotchet-Halls     Reginald  15096
4   238-95-7766          Carson       Cheryl   8780
5   267-41-2394         O'Leary      Michael   7971
6   724-80-9391      MacFeather      Stearns   4251
7   274-80-9391        Straight         Dean   4095
8   409-56-7008          Bennet      Abraham   4095
9   427-17-2319            Dull          Ann   4095
10  472-27-2349      Gringlesby         Burt   4095
11  672-71-3249        Yokomoto        Akiko   4095
12  846-92-7186          Hunter       Sheryl   4095
13  172-32-1176           White      Johnson   4072
14  486-29-1786        Locksley     Charlene   3336
15  998-72-3567          Ringer       Albert   2156
16  712-45-1867    del Castillo        Innes   2032
17  756-30-7391          Karsen        Livia    375
18  807-91-6654        Panteley       Sylvia    375
19  341-22-1782           Smith      Meander      0
20  527-72-3246          Greene  Morningstar      0
21  724-08-9931        Stringer         Dirk      0
22  893-72-1158        McBadden      Heather      0